div.jumbotron {
  background-color: #D7EECD;
};
h1.text-center {
  text: #638E51;
};
.panel-heading {
  background-color: #D7EECD;
};
button,
#addTrainBtn {
	background-color: #D7EECD;
  text: #000;
  outline-color: #D7EECD;
};
